<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/312afdb3-38dc-4382-820c-14369cb98740/resourceGroups/rg-project4/providers/Microsoft.Web/sites/project4helmi24434</ResourceId>
    <ResourceGroup>rg-project4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://project4helmi24434.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>dd795bc1-c8bd-41d5-a5e5-b07ae37ce7f9</ProjectGuid>
    <PublishUrl>https://project4helmi24434.scm.azurewebsites.net/</PublishUrl>
    <UserName>$project4helmi24434</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>